
#root {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  height: 100%
}

h1 {
  text-align: left;
}

#search-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

header, .row {
  display: flex; /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1; /* distributes space on the line equally among items */
  border-right: 1px solid black;
  padding: 1em;
  text-align: left;
}
.col:last-child {
  border-right: none;
}

.result-image {
  height: 10em;
}

#results {
  margin-top: 3em;
  border: 1px solid black;
  width: 70em;
}

section header {
  background-color: #ccc;
}

.image {
  flex: 0.5;
}

.destination {
  flex: 0.5;
}

label {
  padding-top: 0.5em;
  display: block;
}


#messages{
  padding:1em;
}

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }

  #results {
    border: 0;
  }

  .col {
    border: 0;
  }
  #search-row {
    flex-direction: column;
    width:10em;
  }
  .col  {
    padding:0;
    width:10em;
  }
  .row {
    flex-direction: column;
    padding: 1em 1em 1em 0;
  }
  .destination {
    padding-top: 1em;
  }
  .image {
    flex: 0.3;
  }
}

